.navbar-top{
    background: #003F62;
    height: 100px;
}

.search{
    margin-left: 85px;
    border-radius: 10px;
}

.searchForm{
    border-radius: 10px;
    padding-left: 20px;
}


#button-addon2{
    height: 38px;
    background-color: #EDA415;
    color: white;
    border: none;
    width: 130px;
}

.circle-icon{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #EDA415;
    color: white;
    font-size: 10px;
    margin-top: 4px;
}

.navbar-bottom{
    background-color: #F4F4F4;
    height: 70px;
}

.nav-dropdown{
    font-size: 16px;
    padding-top: 15px;
    color: #3A3A3A;
    margin-right: 30px;
}

.about{
    font-size: 16px;
    padding-top: 15px;
    margin-right: 30px;
}

.basic-nav-dropdown{
    background-color: #EDA415;
    font-size: 16px;
    height: 70px;
    width: 190px;
    text-align: center;
    padding-top: 15px;
    margin-left: -50px;
    margin-right: 98px;
}

#main-nav-dropdown{
    color: white;
}

.nav-right-item{
    margin-top: 8px;
    padding-top: 15px;
    color: #003F62;
    font-weight: 700;
    margin-left: 350px;
}
.top_title{
    width: 175px;
    color: #1B5A7D;
    font-size: 43px;
    margin-bottom: 20px;
}
.primary_btn{
    padding: 18px;
    border: none;
    border-radius: 20px;
    width: 145px;
    height: 60px;
}
.circle-container{
    margin-left: 120px;
    margin-top: 50px;
}
.circle{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: none;
    border: 1px solid #3A3A3A;
}
